---
---
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Karla:wght@200&display=swap');

/*

CSS Ruleset

selector {
    property: value;
    property: value;
}

p {
    font-size: 1.5em;
    color: #333333;
    font-style: italic;
}

*/

* {
    box-sizing: border-box;
}

html,
body {
    margin:0;
    padding:0;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    background-color: #aaa;
    font-size: 20px;
    margin:0;
}

a,a:link {
    color: rgb(60, 68, 55);
}
a:visited {
    color:rgba(60, 68, 55,.8);
}
a:hover,a:focus,a.current {
    color: rgb(60, 68, 55);
    background: rgba(255,255,255,0.1);
}
a:active {
    color: #333;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

nav {
    a, :link {
        text-decoration:none;
        padding: 8px;
        background: rgba(255,255,255,0.125);
    }
    :hover,:focus,.current {
        background: rgba(255,255,255,0.425);
    }
}

h1 {
    font-size: 100px;
    color: rgba(255,255,255, .8);
    font-variant: small-caps;
    letter-spacing: 3px;
    font-weight: 100;}

h2 {
    color: rgba(255,255,255, .8);
    font-variant: small-caps;
    letter-spacing: 1px;
    font-weight: 150;
}

p {
    font-family: 'Karla', sans-serif;
}

.image {
    float: right;
    width: 300px;
    margin: 0 0 10px 10px;
}

/* Home */
.home {
    padding: 0;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;

    #banner {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.825);

        h1 {
            margin:0;
        }

        /*
        Typing animation courtesy of https://css-tricks.com/snippets/css/typewriter-effect/
        */

        a {
            color: rgba(255,255,255,0.75);
            text-decoration:none;
            background: rgba(255,255,255,0.2);
            display:block;
            line-height:1;
            overflow-x: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .75em solid gray; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            letter-spacing: .15em; /* Adjust as needed */
            animation:
                typing 2s steps(30, end),
                blink-caret 0.5s step-end infinite;
        }

        :hover,:focus {
            color: white;
            background:none;
        }
    }

    #lessons,main,footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        padding: 0;
    }

    #lessons {
        order:3;
    }
    footer {
        order:4;
    }

}

.html-css-tutorial {

    article section {
        min-height:100vh;
        background: #fff;
    }
}


section:target {
    background: orange;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:gray;}
}