---
---
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Karla:wght@200&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin:0;
    padding:0;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    background-color: rgb(202, 210,197);
    font-size: 20px;
    margin:0;
    padding:50px;
}

body {
    padding: 50px 100px;
}

a,a:link {
    color: rgb(60, 68, 55);
}
a:visited {
    color:rgba(60, 68, 55,.8);
}
a:hover,a:focus,a.current {
    color: rgb(60, 68, 55);
    background: rgba(255,255,255,0.1);
}
a:active {
    color: #333;
}

nav {
    a, :link {
        text-decoration:none;
        padding: 8px;
        background: rgba(255,255,255,0.125);
    }
    :hover,:focus,.current {
        background: rgba(255,255,255,0.425);
    }
}

h1 {
    font-size: 100px;
    color: rgba(255,255,255, .8);
    font-variant: small-caps;
    letter-spacing: 3px;
    font-weight: 100;}

h2{
    color: rgba(255,255,255, .8);
    font-variant: small-caps;
    letter-spacing: 1px;
    font-weight: 150;
}

p {
    font-family: 'Karla', sans-serif;
}

header h1 {
    font-size: 30px;
}
