---
---
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,700;1,100&family=Karla:wght@200;800&display=swap');

/*

CSS Ruleset

selector {
    property: value;
    property: value;
}

p {
    font-size: 1.5em;
    color: #333333;
    font-style: italic;
}

*/

* {
    box-sizing: border-box;
}

html,
body {
    margin:0;
    padding:0;
}

html{
    font-family: 'Karla', sans-serif;
    color: #333;
    background-color: #fafafa;
    font-size: 24px;
    margin:0;
}

body {
    display:flex;
    flex-direction: column;
}

a,a:link {
    color: rgba(0,200,200,.875);
}
a:visited {
    color:rgba(0,200,200,0.875);
}
a:hover,a:focus,a.current {
    color:rgba(0,200,200,1);
}
a:active {
    color: #333;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h1,h2,h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: rgba(0,0,0, .675);
    font-variant: small-caps;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 1.75em;
}

h2 {
    color: rgba(0,0,0, .8);
    font-variant: small-caps;
    letter-spacing: 1px;
    font-weight: 150;
    font-size:1.5em;
}

h3,h4 {
    font-size: 1.25em;
    font-weight: 700;
}

h2,h3,h4,h5 {
    margin-bottom:0 !important;
    + p,
    + ul,
    + ol {
        margin-top:0 !important;
    }
}

p + h2 {
    margin-top: 2em;
}

code {
    background-color: rgba(0,200,200,0.1);
}

blockquote {
    background: rgba(0,200,200,0.1);
    border-left: 10px solid rgba(0,200,200,0.4);
    padding:40px;
    margin:40px 0 40px 40px;
    position:relative;
    vertical-align: text-top;
}


.image {
    float: right;
    width: 300px;
    margin: 0 0 10px 10px;
}

/* Banner */
#banner {
    background: rgba(0,0,0,0.825);
}

/* Main Content */
main {
    padding: 20px;
}

/* Home */
.home {
    flex-direction: column;

    #banner {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin:0;
            font-size: 30px;
        }

        /*
        Typing animation courtesy of https://css-tricks.com/snippets/css/typewriter-effect/
        */

        a {
            color: rgba(0,200,200,0.75);
            text-decoration:none;
            display:block;
            line-height:1;
            overflow-x: hidden; /* Ensures the content is not revealed until the animation */
            white-space: nowrap; /* Keeps the content on a single line */
            letter-spacing: .15em; /* Adjust as needed */
        }

        :hover,:focus {
            color: rgba(0,200,200,0.95);
            background:none;
        }

    }

}

/* Lesson Navigation */
.lesson-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.lesson-navigation a,
.lesson-navigation a:visited {
    text-decoration:none;
    background-color: rgba(0,220,220,1);
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    padding: 5px;
}

.lesson-navigation a:hover,
.lesson-navigation a:focus {
    background-color: rgba(0,220,220,0.8);
}

.previous:before {
    content: "< ";
}

.next:after {
    content: " >"
}

#start {
    display:block;
    margin: 40px auto;
    font-weight: bold;
    padding: 20px 30px;
}

article > h1 {
    font-size: 60px;
}

#glossary dt {
    font-weight: 800;
    padding-left: 1em;
}
#glossary dt span:before {
    content: "▶";
    font-size: 12px;
    color:rgba(0,0,0, .5)
}
#glossary dt.ui-state-active span:before {
    content: "▼";
    color:rgba(0,0,0, .8)
}
#glossary dd {
    margin:0 0 1em;
}

/* Hamburger menu code sourced from https://codepen.io/unleashalicia/pen/YzXrJBN */
#global_navigation {
    position:absolute;
    top:0;
    right:0;
}
#global_navigation ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#global_navigation button {
    cursor: pointer;
}
button.open-nav-btn {
  font-size: 1.5rem;
  border: 1px solid black;
  background-color: transparent;
  margin: 10px;
}

.slide-content {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
  visibility: hidden;
}

.slide-content a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F5F5F5;
  display: block;
}

.slide-content a:focus,
.slide-content button:focus {
  outline: 2px solid orange;
}

#global_navigation a:focus,
.open-nav-btn:focus {
  outline: 2px solid blue;
  outline-offset: 5px;
}

.close-btn {
  font-size: 25px;
  color: #F5F5F5;
  background-color: transparent;
  border: none;
}

.slide-content a:hover,
.slide-content a:focus {
  text-decoration: underline;
}

.slide-content .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.visible {
  visibility: visible;
}

.active {
  width: 250px;
}

@media screen and (min-width: 900px) {

    body {
        display:flex;
        flex-direction: row;
    }

    body > * {
        flex: 1 1 200px;
    }

    #banner {
        max-width: 200px;
        min-width: 200px;
    }

    .home #banner {
        height: 80vh;
        max-width: none;
        min-width: none;
        max-height: 700px;
        min-height: 200px;
        width: 100vw;
        flex-basis: auto;
    }

    .home #banner h1 {
        font-size: 80px;
    }

    #global_navigation,
    .slide-content {
        position: fixed;
        left:0;
        right: unset;
    }

    main, {
        padding: 80px;
        width: auto;
    }
}