---
layout: default
title: Home
---
<p>​​<b class="site-title">{Your Name Here}</b> aims to empower other graduate students and humanities academics with the coding skills and the confidence to create a personal website that reflects who they are and what they value to the public.</p>
<nav class="lesson-navigation">
    {% for item in site.lesson_navigation %}
    {% assign link = site.pages | where_exp: "page", "page.url contains item" | first %}
    <a class="{{ item }}{% if page.url == link.url %} current{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }} <span>{{ link.summary }}</span></a>
    {% endfor %}
    {% for item in site.complementary_navigation %}
    {% assign link = site.pages | where_exp: "page", "page.url contains item" | first %}
    <a class="{{ item }}{% if page.url == link.url %} current{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }} <span>{{ link.summary }}</span></a>
    {% endfor %}
</nav>
<p>Inspired by critical pedagogy, anarchist education, and our own experiences in graduate school, our pedagogical method centers individuality and solidarity. We want to invite students to explore their authentic selves and then encourage them to express those selves online in a portfolio website. In the process, our project hopes to push back against, and re-code, the white, heteropatriarchal, elitist, and neoliberal gaze that continues to shape our classrooms, universities, and the ivory tower at large—the gaze that tricks us into thinking that we must only present ourselves within the rote category of research in order to be taken seriously as a “rigorous” scholar. Our goal is that students who learn from our project will feel supported enough to create a personal website that captures a bit of the unique, ever-changing story of who they are, that they feel empowered to show that site to the public, and that they use their site as a space to practice solidarity in the academy.</p>