<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
  integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
  crossorigin="anonymous"></script>
<body class="{{ page.title | slugify }}">
<header id="banner" role="banner">
    <h1><a id="title" href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
    <nav>
        {% for item in site.global_navigation %}
        {% assign link = site.pages | where_exp: "page", "page.url contains item" | first %}
        <a class="{{ item }}{% if page.url == link.url %} current{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
</header>
{% if page.title == 'Home' %}
<script>
    var names = ["Cherrie", "Jacqui", "Jennifer", "Joseph", "Susan", "Tarushi", "{{ site.title }}"];
    var i = 0;
    var j = 0;
    const element = document.getElementById("title");
    setInterval(function() {
        if (i < names.length){
            if (j<names[i].length+8){
                element.innerHTML = names[i].substring(0, j)+"|";
                j+=1
            }
            else{
                i+=1
                j=0
            }
        }
        else{
            if (j % 30 > 12){
                element.innerHTML = names[i-1]+"|";
            }
            else{
                element.innerHTML = names[i-1];
            }
            j+=1
        }
        }, 50);
</script>
{% endif %}
<main>
    {{ content }}
</main>
<footer role="contentinfo">
</footer>
<script>
$( function() {
    $( "#glossary" ).accordion({
        header: "dt", 
        collapsible: true,
        heightStyle: "content"
    });
    $("#glossary dt").css("cursor", "pointer");
} );

</script>
</body>
