<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
<body class="{{ page.title | slugify }}">
<header id="banner" role="banner">
    <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
</header>
<nav id="lessons">
    {% for item in site.global_navigation %}
    {% assign link = site.pages | where_exp: "page", "page.url contains item" | first %}
    <a class="{{ item }}{% if page.url == link.url %} current{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>
    {% endfor %}
</nav>
<main>
    {{ content }}
</main>
<footer role="contentinfo">
    <nav id="courtesy">
        {% for item in site.courtesy_navigation %}
        {% assign link = site.pages | where_exp: "page", "page.url contains item" | first %}
        <a class="{{ item }}{% if page.url == link.url %} current{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
</footer>
</body>